.container{
    display: grid;
    place-items: center;
}

.traffic-light {
    width: 100px;
    height: 200px;
    border-radius: 30px;
    display: grid;
    place-items: center;
    background-color: #2c3e50;
    padding: 10px;
}
.light-bulb{
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgb(0, 0,0,0.3);
    position: relative;
}
/*.light-bulb::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-right: 4px solid rgb(255, 255,255,0.6);
    top: 5%;
}*/
.stick{
    width: 8px;
    height: 280px;
    background-color: rgb(0, 0,0,0.5);
}
.floor{
    width: 300px;
    height: 1px;
    background-color: rgb(0, 0,0,0.5);
}
.shadows{
    box-shadow:10px 10px 30px 30px white;
    border-top: 8px solid rgb(255, 255,255,0.6);
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
